<nav id="shop" aria-label="Shop menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <button aria-expanded="false" aria-controls="store">Store</button>
      <div id="store" aria-label="Store" inert>
        <h2>Buy</h2>
        <ul>
          <li>
            <a href="#">Buy the latest</a>
          </li>
          <li>
            <a href="#">Computer</a>
          </li>
          <li>
            <a href="#">Tablet</a>
          </li>
          <li>
            <h3>Phone</h3>
            <button aria-expanded="false" aria-controls="phones">Phones</button>
            <ul id="phones" aria-label="All Phones" inert>
              <li><a href="#">Phone 11</a></li>
              <li><a href="#">Phone 12</a></li>
              <li><a href="#">Phone 13</a></li>
              <li><a href="#">Phone 14</a></li>
              <li><a href="#">Phone 15</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Watch</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" aria-controls="computer">Computer</button>
      <div id="computer" aria-label="Computer" inert>
        <h2>Discover computers</h2>
        <ul>
          <li>
            <a href="#">All about computers</a>
          </li>
          <li>
            <a href="#">Computer Air</a>
          </li>
          <li>
            <a href="#">Computer Pro</a>
          </li>
          <li>
            <a href="#">Computer Tower</a>
          </li>
          <li>
            <a href="#">Computer mini</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" aria-controls="tablet">Tablet</button>
      <ul id="tablet" aria-label="Tablet" inert>
        <li><a href="#">General information</a></li>
        <li><a href="#">Tablet Pro</a></li>
        <li><a href="#">Tablet Air</a></li>
      </ul>
    </li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
