/** This file contains all selectors for https://www.npmjs.com/package/@barrierefrei/a11y-menu-2 */

nav {
  /** The navigation */
}

nav > ul {
  /** Toplevel menu */
}

[inert] {
  /** Submenu that is hidden */
}

button[aria-controls][aria-expanded] {
  /* Menu item that triggers a submenu */
}

button[aria-controls][aria-expanded][aria-expanded='true'] {
  /* Expanded triggers */
}

button[aria-controls][aria-expanded][aria-expanded='false'] {
  /* Collapsed triggers */
}

a[aria-current='page'] {
  /** Link that points to the current page */
}

li[data-current-parent='true'] {
  /** Items that are parents of the current page item */
}
